<h2>
  {{splash}}
</h2>

<hr />

<!--
<div  *ngIf="selectedCoin">
    <label>name:
      <input [(ngModel)]="selectedCoin.name" placeholder="name">
    </label>
</div>
-->
<div>
	<app-coin-detail [coin]="selectedCoin"></app-coin-detail>
</div>

<h4>My Coins</h4>
<ul class="coins">
  <li *ngFor="let coin of coins" 
		(click)="onSelect(coin)"
		[class.selected]="coin === selectedCoin">
    <span class="coin">({{coin.symbol}})</span> {{coin.name}} | {{coin.price | currency:'USD'}} | Rank: {{coin.rank}}
  </li>
</ul>

<hr />

